<!-- NOTE: this page is only viewable iff the user the logged in. -->
<%= render 'navbar_others'%>

<% for i in 0..@num-1 %>
	<%= form_tag({:controller => 'collaboration', :action => 'acceptRequest'}, method: "post") do %>
	<%= hidden_field_tag(:id, @requester_ids[i]) %>
	<span>
		<% if Collaboration.find_by(first_id:@requester_ids[i], second_id:@userID).approved %>
			<p> Accepted : <%= @names[i] %></p>
		<% else %>
			<span> Not yet accepted </span>
			<%= submit_tag("Accept #{@names[i]}", :class => 'btn btn-success') %>
		<% end %>
	</span>
  	<% end %><br>
<% end %>