<!DOCTYPE html>
<html lang="en">
	<head>    
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>HitPlayShare</title>
		<link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
		<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"%>
		<%= javascript_include_tag "jquery.jplayer.min.js"%>
		<%= stylesheet_link_tag "jplayer-skin/blue.monday/jplayer.blue.monday.css"%>
		<%= stylesheet_link_tag "main.css" %>

	</head> 

	<body>
		<div id="scroller"> 
			<iframe src="<%= @link %>" frameborder="0" id="loader" name="main_loader">
			</iframe>
			<div class="player">
				<img class="player-img" src="assets/defaull_player.png" alt="Player Image" style="height:50px;width:50px;bottom:0px;">
				<div class="player-info" style="height:35px;width:250px;left:50px;"><p class="default"><a>You can add songs to your play list or download them.</a></p></div>
				<div class="jplayer">
					<%= render "jplayer" %>
				</div>
			</div>
		</div>
		<%= javascript_include_tag "main.js"%>
	</body>

</html>