<p id="notice"><%= notice %></p>

<p>
	<strong>Media:</strong>
	<%= @music_album.media_id %>
</p>

<p>
	<strong>Album:</strong>
	<%= @music_album.album_id %>
</p>

<%= link_to 'Edit', edit_music_album_path(@music_album) %> |
<%= link_to 'Back', music_albums_path %>
