<%= form_for(@medium) do |f| %>
	<% if @medium.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

			<ul>
				<% @medium.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :user_id %><br>
		<%= f.number_field :user_id %>
	</div>
	
	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :file %><br>
		<%= f.file_field :file %>
	</div>

	<div class="field">
		<%= f.label :image %><br>
		<%= f.file_field :image %>
	</div>

	<div class="field">
		<%= f.label :downloads %><br>
		<%= f.number_field :downloads %>
	</div>

	<div class="field">
		<%= f.label :media_type %><br>
		<%= f.text_field :media_type %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
