<p id="notice"><%= notice %></p>

<p>
	<strong>User:</strong>
	<%= @medium.user_id %>
</p>

<p>
	<strong>Title:</strong>
	<%= @medium.title %>
</p>

<p>
	<strong>File path:</strong>
	<%= @medium.file_path %>
</p>

<p>
	<strong>Image path:</strong>
	<%= @medium.image_path %>
</p>

<p>
	<strong>Downloads:</strong>
	<%= @medium.downloads %>
</p>

<p>
	<strong>Media type:</strong>
	<%= @medium.media_type %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
