<!-- Track comment page  -->
<% if session['logged_in']==1 %>
	<%= render "navbar_others" %>
<% else %>
    <%= render "navbar_unlogged" %>
<% end %>
  <%= javascript_include_tag "home.js" %>
  <%= javascript_include_tag "signup.js" %>

<div id="content" class="container-fluid"> 
	<div class="container">      
		<div class="row" id="track-info"> 
			<div class="col-md-2 col-md-offset-4">
				<img id="track-comment" src="<%= "/assets/mediaimage/" + @medium.image_path %>" alt="Track cover">  
			</div>
		<div class="col-md-2">
			<p class="ha track-name"><%= @medium.title %></p> 
			<p class="track-artist"><a href="/other_profile?id=<%=@creator.id%>"><%= @creator.username %></a> </p>
			<p class="track-genre"><%= @song.genre %></p>
			<p>
			    <% if @rating <= 0.1 %>
			    	<img src="/assets/images/0.png" class="rating">
				<% elsif @rating <= 0.5 %>
					<img src="/assets/images/0.5.png" class="rating">
				<% elsif @rating <= 1 %>
					<img src="/assets/images/1.0.png" class="rating">
				<% elsif @rating <= 1.5 %>
					<img src="/assets/images/1.5.png" class="rating">
				<% elsif @rating <= 2 %>
					<img src="/assets/images/2.0.png" class="rating">
				<% elsif @rating <= 3 %>
					<img src="/assets/images/3.0.png" class="rating">
				<% elsif @rating <= 3.5 %>
					<img src="/assets/images/3.5.png" class="rating">
				<% elsif @rating <= 4 %>
					<img src="/assets/images/4.0.png" class="rating">
				<% elsif @rating <= 4.5 %>
					<img src="/assets/images/4.5.png" class="rating">
				<% else %>
					<img src="/assets/images/5.0.png" class="rating">
				<% end %>
				<button type="button" class="btn comment-btn btn-info" data-toggle="modal" data-target="#change-payment-email">Add Comment/Rating</button>
			</p> 
			<p><a onclick="parent.jplayer_load('<%=@medium.title %>','<%=@medium.file_path %>', '<%=@medium.image_path %>', '<%=@medium.user.username %>', '<%=@medium.user.id %>', '<%=@rating %>', '<%=@medium.music.plays%>')">
					<img class="playtrack-search" src="/assets/images/play.png">
				</a>
				<a onclick = "parent.add_playlist('<%=@medium.file_path%>')"><img class="add_playlist_comments" height="27" width="27" src="/assets/images/add_playlist.png"></a></p>
		</div>
        <div class="col-md-2">
        		
        </div>
	</div>
	<div class="row" id="tracks-comments"> 
		<table class="table table-striped"> 
			<tbody>
				<% for medium_comment in @medium_comments %>
					<% comment = medium_comment.comment %>
					<% user = User.find_by(id:comment.user_id) %>
					<% user_rating = Rating.where(medium_id:@medium.id).find_by(user_id:user.id).rating %>
					<!-- Only show the comment if the user wrote something -->
					<% stripped_comment = comment.comment.delete(' ') %>
					<% if stripped_comment.length > 0 %>
						<tr class="active">
							<td class="col-md-3">
								<img class="user-avatar" src= "<%="/assets/userimage/"+user.image_path%>" id = "dp">
								<div class="col-md-11" id="track-info">
									<p class="track-name h4">User: <a href="/other_profile?id=<%= user.id %>"><%= user.username%></a></p>
									<p class= "track-duration"><%= comment.created_at %> </p>
                  					Rating:            
									<% if user_rating <= 0.5 %>
										<img src="/assets/images/0.5.png" class="rating">
									<% elsif user_rating <= 1 %>
										<img src="/assets/images/1.0.png" class="rating">
									<% elsif user_rating <= 1.5 %>
										<img src="/assets/images/1.5.png" class="rating">
									<% elsif user_rating <= 2 %>
										<img src="/assets/images/2.0.png" class="rating">
									<% elsif user_rating <= 3 %>
										<img src="/assets/images/3.0.png" class="rating">
									<% elsif user_rating <= 3.5 %>
										<img src="/assets/images/3.5.png" class="rating">
									<% elsif user_rating <= 4 %>
										<img src="/assets/images/4.0.png" class="rating">
									<% elsif user_rating <= 4.5 %>
										<img src="/assets/images/4.5.png" class="rating">
									<% else %>
										<img src="/assets/images/5.0.png" class="rating">
									<% end %>
								</div>
							</td>
							<td class="col-md-6">
								<div class="comment_text">
									<%= comment.comment %>
								</div>
							</td>
						</tr>
						<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	</div> 
</div>    
<%= render 'add_comment'%>