<% if session['logged_in']==1 %>
	<%= render "navbar_others" %>
<% else %>
    <%= render "navbar_unlogged" %>
<% end %>
  <%= javascript_include_tag "home.js" %>
  <%= javascript_include_tag "signup.js" %>
  <%= javascript_include_tag "login.js" %>

<div id="content" class="container-fluid"> 
  <div class="container">      
    <div class="row" id="album-info"> 
        <div class="col-md-2">
            <img id="track" src="<%= "/assets/mediaimage/" + @medium.image_path %>" alt="album cover">  
        </div>
        <div class="col-md-10">
            <p class="album-name"><%= @medium.title %></p> 
            <p class="album-artist"><a href="/other_profile?id=<%=@creator.id%>"><%= @creator.username %></a> </p>
            <p class="album-year"><%= @song.genre %></p>
            <p><span class='tracks-number'><%= @rating%>/5</p> 
        </div>
    </div>
    <div class="row" id="album-tracks"> 
       <table class="table table-striped"> 

         <tbody>
           <tr class="info">
              <td class="col-md-6">
                <i class="glyphicon glyphicon-play-circle col-md-1"></i>
                <div class="col-md-11" id="track-info">
                  <p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
                  <p class= "track-duration"> 1:00 </p>
                </div>
              </td>
           </tr>
           <tr class="active">
              <td class="col-md-6">
                <i class="glyphicon glyphicon-play-circle col-md-1"></i>
                <div class="col-md-11" id="track-info">
                  <p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
                  <p class= "track-duration"> 1:00 </p>
                </div>
              </td>
           </tr>
           <tr class="info">
              <td class="col-md-6">
                <i class="glyphicon glyphicon-play-circle col-md-1"></i>
                <div class="col-md-11" id="track-info">
                  <p class="track-name h4">Track Name <span class="coll"><span></p>
                  <p class= "track-duration"> 1:00 </p>
                </div>
              </td>
           </tr>
           <tr class="active">
              <td class="col-md-6">
                <i class="glyphicon glyphicon-play-circle col-md-1"></i>
                <div class="col-md-11" id="track-info">
                  <p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
                  <p class= "track-duration"> 1:00 </p>
                </div>
              </td>
           </tr>              
           <tr class="info">
              <td class="col-md-6">
                <i class="glyphicon glyphicon-play-circle col-md-1"></i>
                <div class="col-md-11" id="track-info">
                  <p class="track-name h4">Track Name <span class="coll"><span></p>
                  <p class= "track-duration"> 1:00 </p>
                </div>
              </td>
           </tr>         
        </tbody>
       </table>
    </div>
  </div> 
</div>         


