<p id="notice"><%= notice %></p>

<p>
	<strong>Image path:</strong>
	<%= @music.image_path %>
</p>

<p>
	<strong>Media:</strong>
	<%= @music.media_id %>
</p>

<p>
	<strong>Plays:</strong>
	<%= @music.plays %>
</p>

<p>
	<strong>Genre:</strong>
	<%= @music.genre %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
