<!-- Tab panel for profile page -->

<div role="tabpanel row">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">

    <!-- Tabs Names --> 
    <li role="presentation" class="active">
		<a href="#tracks" aria-controls="tracks" role="tab" data-toggle="tab">Tracks</a>
	</li>
    <li role="presentation">
		<a href="#collaborators" aria-controls="collaborators" role="tab" data-toggle="tab">Collaborators</a>
	</li>
    <li role="presentation">
		<a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a>
	</li>
 
  </ul>

  <!-- Information of the tabs to be display, see id is the same that the tab names-->
  <div class="tab-content">
	<%= render 'trackstab'%>  
    
	<!-- Add collaborators here. -->
	<div role="tabpanel" class="tab-pane" id="collaborators">
		<div class="tab-content row">
			<% for i in 0..@approved_requests.count - 1 %>
				<div class="element col-md-4 col-sm-6 col-xs-6 clearfix">
					<div class="col-md-6 col-sm-6 col-xs-6 coll-img">
						<%= image_tag "userimage/" + User.find(@approved_ids[i]).image_path, class:"img-thumbnail", 
						alt:"Collaborator Image" %>
						<!--Need to include user image source-->
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 content-info">
						<p class="h4 row info coll-name">
							<%= link_to User.find(@approved_ids[i]).username , 
							{:controller => 'profile', :action => 'showOther', :id => @approved_ids[i] } %>
						</p>          
					</div>
				</div>
			<% end %>
		</div>  
	</div>

	<div role="tabpanel" class="tab-pane" id="following">
		<div class="tab-content row">
			<% for i in 0..@num_following - 1  %>
				<div class="element col-md-4 col-sm-6 col-sm-6">
					<div class="col-md-6 col-sm-6 col-xs-6 foll-img">
						<%= image_tag "userimage/" + User.find(@ids[i]).image_path, 
						class:"foll-image img-thumbnail", alt:"User Image"%> 
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 content-info">
						<p class="h4 row info foll-name">
							<%= link_to @names_following[i] , {:controller => 'profile', 
								:action => 'showOther', :id => @ids[i] } %>
						</p>
						<p class="row info num-foll">
							<%= Follower.where(user_id:@ids[i]).count %> followers
						</p>            
					</div>
				</div>
			<% end %>
		</div>
	</div>

  </div>
</div>