<!-- Tab panel for profile page -->

<div role="tabpanel row">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <!-- Search bar -->
    <li class="pull-right col-md-4"> 
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>                
    </li>
    <!-- Tabs Names --> 
    <li role="presentation" class="active">
      <a href="#tracks" aria-controls="tracks" role="tab" data-toggle="tab">Tracks</a>
    </li>
    <li role="presentation">
      <a href="#albums" aria-controls="albums" role="tab" data-toggle="tab">Albums</a>
    </li>
    <li role="presentation">
      <a href="#collaborators" aria-controls="collaborators" role="tab" data-toggle="tab">Collaborators</a>
    </li>
    <li role="presentation">
      <a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a>
    </li>
 
  </ul>

  <!-- Information of the tabs to be display, see id is the same that the tab names-->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tracks">
		  <div class="tab-content row">
        <% @owntracks.each do |medium| %>
       	<div class="element col-md-4">
	      	<div class="col-md-6">
            <img id="content-img"  alt="" src="assets/mediaimage/<%= medium.image_path %>">
          </div>
	      	<div class="col-md-6 content-info">
	      		<p class="h4 row info track-name"><%= medium.title %></p>
	      		<p class="row info track-coll">(Collaborator)</p>
	      		<p class="row info track-album">Album</p>
	      		<p class="row info track-duration">3:00</p>
	      	</div>
        </div>              
        <% end %>
      </div>
      <div class="row track-req">
        <button type="button" class="btn btn-default more center-block">More Tracks</button>
      </div>
    </div>  
    
    <div role="tabpanel" class="tab-pane" id="albums">
      <div class="row">
        <%= link_to "Album Preview", "album", :target => "_blank", :type => "button", 
          :class => "btn btn-default album-preview center-block" %>         
      </div> 
    </div>
    
    <!-- Add collaborators here. -->
    <div role="tabpanel" class="tab-pane" id="collaborators">
      <div class="tab-content row">
        <% for i in 0..@approved_requests.count - 1 %>
          <div class="element col-md-4">
            <div class="col-md-6">
              <%= image_tag "userimage/" + User.find(@approved_ids[i]).image_path, id:"content-img", alt:"Collaborator Image", size:"100x100" %>
               <!--Need to include user image source-->
            </div>
            <div class="col-md-6 content-info">
              <p class="h4 row info coll-name"><%= User.find(@approved_ids[i]).username %></p>
              <p class="row info projects">
                <span class="proj-num"><%= 0 %><span> projects <!--How many projects have them collaborated-->
              </p>            
            </div>
          </div>
        <% end %>
      </div>  
    </div>

    <!-- Onclick reveals all the people the user is following... 
      NOTE: should display all users as links !
    -->
    <div role="tabpanel" class="tab-pane" id="following">
      <div class="tab-content row">
        <% for i in 0..@num_following - 1  %>
          <div class="element col-md-4">
            <div class="col-md-6">
            <%= image_tag "userimage/" + User.find(@ids[i]).image_path, id:"content-img", alt:"User Image", size:"100x100" %> <!--Need to include user image source-->
            </div>
            <div class="col-md-6 content-info">
              <p class="h4 row info foll-name">
                <%= link_to @names_following[i] , {:controller => 'profile', :action => 'showOther', :id => @ids[i] } %>
              </p>
              <p class="row info followers">
                <span class="foll-num"><%= Follower.where(user_id:@ids[i]).count %><span> followers <!--Number of followers that the user have-->
              </p>            
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>