<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%= stylesheet_link_tag "common.css" %>
		<%= stylesheet_link_tag "profile.css" %>
		<%= stylesheet_link_tag "fileinput.min.css" %>

	</head>
	<body>
		<%= javascript_include_tag "check_request.js" %>
		<div id="wrapper">
			<%= yield %>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<%= stylesheet_link_tag "profile.css" %>
		<!-- Include home.js -->
		<%= javascript_include_tag "fileinput.min.js" %>
		<%= javascript_include_tag "profile.js" %>
		<%= javascript_include_tag "signup.js" %>
		<%= javascript_include_tag "login.js" %>
		<%= javascript_include_tag "home.js" %>
		<%= javascript_include_tag "notify.js" %>


	</body>
</html>